{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <main >
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Formularz zamównienia</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            {% comment %} <form method='POST'>
              {% csrf_token %}
              {{ form|crispy }}
              <button class='btn btn-primary' type='submit'>Checkout</button>
            </form> {% endcomment %}

            <!--Card content-->
            <form method="POST" class="card-body">
              {% csrf_token %}

              <!--address-->
              <div class="md-form mb-5">
                {% comment %} <input type="text" id="address" class="form-control" placeholder="1234 Main St"> {% endcomment %}
                {{ form.street_address }}
                <label for="address" class="">Adres</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                {% comment %} <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> {% endcomment %}
                {{ form.apartment_address }}
                <label for="address-2" class="">Adres cd (opcjonalnie)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Kraj</label>
                  {% comment %} <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Wybierz...</option>
                    <option>Polska</option>
                  </select> {% endcomment %}
                  {{ form.country }}
                  <div class="invalid-feedback">
                    Wybierz prawidłowy kraj.
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Kod pocztowy</label>
                  {% comment %} <input type="text" class="form-control" id="zip" placeholder="" required> {% endcomment %}
                  {{ form.zip }}
                  <div class="invalid-feedback">
                    Kod pocztowy jest wymagany.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <div class="custom-control custom-checkbox">
                <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="same_billing_address" id="same-address">
                <label class="custom-control-label" for="same-address">Adres wysyłki jest taki sam jak mój adres rozliczeniowy</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="save_info" id="save-info">
                <label class="custom-control-label" for="save-info">Zapisz te informacje na następny raz</label>
              </div>

              <hr>

              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                  {% comment %} {{ form.payment_option }} {% endcomment %}
                </div>
                {% endfor %}
                {% comment %} <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div> {% endcomment %}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Kontynuuj</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
